$mainColor: rgb(230, 221, 221);
$mainFont: 'Outfit', sans-serif;

@mixin displayFormat($display, $flow)
{
    display: $display;
    flex-flow: $flow;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html
{
    scroll-behavior: smooth;
}

.general
{
    background-color: black;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar
    {
        display: none;
    }
}

.defaultContainer
{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 10vh 10vh repeat(10, 1fr);
    height: 100vh;
    align-content: center;
    justify-content: center;
}

.header
{
    grid-column: 1 / 13;
    grid-row: 1 / 3;
    z-index: 10;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    &__logo
    {
        width: 35vw;
    }
    
    &__menu
    {
        font-family: $mainFont;
        font-size: 1.7rem;
        text-align: center;
    }

    &__button
    {
        display: none;
        color: $mainColor;
        margin-right: 2vw;
        cursor: pointer;
    }
}

.navbar-nav li
{
    display: flex;
    display: inline-block;
    justify-content: space-between;
    align-items: baseline;
    padding: 0.5rem;
    color: $mainColor;
    opacity: 0.6;
    transition: opacity 0.5s;

    &:hover
    {
        opacity: 1;
    }
}

.navbar-toggler
{
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
    margin: 0 !important;
    padding: 0 !important;
    width: auto;
}

.navbar-toggler-icon
{
    width: 6vw !important;
    height: 5vh !important;
}

.main__mainVideo video
{
    z-index: -1;
    position: fixed;
    top: 0;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
}

.footer
{
    z-index: 10;
    @include displayFormat(flex, row wrap);
    justify-content: space-between;
    align-items: flex-end;
    font-family: $mainFont;
    font-size: 1.7rem;
    padding-bottom: 3vw;
    
    &__indexPosition
    {
        grid-column: 1 / 13;
        grid-row: 11 / 13;   
    }
    
    &__workPosition
    {
        grid-column: 1 / 13;
        grid-row: 27 / 28;   
    }
    
    &__elements li
    {
        display: flex;
        display: inline-block;
        justify-content: space-between;
    }
    
    &__elements li a
    {
        text-decoration: none;
        color: $mainColor;
        margin-right: 2vw;
        opacity: 0.5;
        transition: opacity 0.5s;

        &:hover
        {
            opacity: 1;
        }
    }
}

.whiteColor
{
    color: $mainColor;
}

.mainFont
{
    font-family: $mainFont;
}

.disableText
{
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.rotate 
{
    transform: rotate(180deg);
    /* Legacy vendor prefixes that you probably don't need... */
    /* Safari */
    -webkit-transform: rotate(180deg);
    /* Firefox */
    -moz-transform: rotate(180deg);
    /* IE */
    -ms-transform: rotate(180deg);
    /* Opera */
    -o-transform: rotate(180deg);
}

/* Lines of the Toggler */
.toggler-icon{
    width: 30px;
    height: 3px;
    background-color: $mainColor;
    display: block;
    transition: all 0.2s;
}

/* Adds Space between the lines */
.middle-bar{
    margin: 5px auto;
}

/* State when navbar is opened (START) */
.navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform: translate3d(0,8px,0);
}

.navbar-toggler .middle-bar {
    opacity: 1;
    filter: alpha(opacity=100);
}

.navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform: translate3d(0,-8px,0);
}
/* State when navbar is opened (END) */

/* State when navbar is collapsed (START) */
.navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
}
/* State when navbar is collapsed (END) */

/* Color of Toggler when collapsed */
.navbar-toggler.collapsed .toggler-icon {
    background-color: $mainColor;
}

.blur   {
    filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
}

/*-----------------------Work only-----------------------*/

.containerWork
{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(25, 10vh);
    width: 100vw;
    align-content: center;
    justify-content: center;
}

.mainWork
{
    grid-column: 1 / 13;
    grid-row: 3 / 27;
    @include displayFormat(flex, column);
    align-items: center;
    justify-content: center;
    margin: 0vh 3vw 0vh 3vw;

    &__article
    {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(7, 1fr);
        height: 100%;
        width: 100%;
        align-items:center;
        justify-content: space-between;
        font-family: $mainFont;
        color: $mainColor;
    }
    
    &__iframeContainer
    {
        position: relative;
        overflow: hidden;
        width: 100%;
        padding-top: 56.25%;
    }

    &__responsiveIframe
    {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }

    &__titleContainer
    {
        display: flex;
        justify-content: end;
        align-items: center;
        height: 100%;

        &--right
        {
            align-items: flex-start !important;
        }
    }

    &__title
    { 
        writing-mode: vertical-lr;
        font-size: 11vw;
        display: flex;
        white-space: nowrap;

        &:hover
        {
            animation-play-state: paused;
        }
        
        a
        {
            text-decoration: none;
            color: $mainColor;
        }
    }

    &__textContainer
    {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: start;
    }

    &__text
    {
        white-space: pre-line;
        line-height: 1.5rem;
        font-size: 1rem;
    }
}

.iframeContainer--left
{
    grid-column: 1 / 6;
    grid-row: 1 / 8;   
}

.iframeContainer--right
{
    grid-column: 4 / 9;
    grid-row: 1 / 8;   
}

.titleContainer--left
{
    grid-column: 6 / 7;
    grid-row: 1 / 8;
}

.titleContainer--right
{
    grid-column: 3 / 4;
    grid-row: 1 / 8;
}

.textContainer--left
{
    grid-column: 7 / 9;
    grid-row: 2 / 8;
    margin: 1vh 2vw 2vh 0vw;
}

.textContainer--right
{
    grid-column: 1 / 3;
    grid-row: 2 / 8;
    margin: 1vh -1.5vw 2vh 2vw;
}

.align--left
{
    text-align: left;
}

.align--right
{
    text-align: right;
}

.marquee {
    overflow: hidden;
    position: relative;
    color: #333;

    h2 {
        position: absolute;
        width: fit-content;
        margin: 0;
        text-align: center;
        -moz-transform: translateY(100%);
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
        -moz-animation: scroll-left 10s linear infinite;
        -webkit-animation: scroll-left 10s linear infinite;
        animation: scroll-left 10s linear infinite;
    }
}

@-moz-keyframes scroll-left {
    0% {
        -moz-transform: translateY(100%);
    }
    100% {
        -moz-transform: translateY(-100%);
    }
}

@-webkit-keyframes scroll-left {
    0% {
        -webkit-transform: translateY(100%);
    }
    100% {
        -webkit-transform: translateY(-100%);
    }
}

@keyframes scroll-left {
    0% {
        -moz-transform: translateY(100%);
        -webkit-transform: translateY(100%);
        transform:translateY(100%);
    }
    100% {
        -moz-transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}

/*-----------------------About only-----------------------*/
.containerAbout
{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(19, 10vh);
    width: 100vw;
    align-content: center;
    justify-content: center;
}

.headerAbout
{
    grid-column: 1 / 13;
    grid-row: 1 / 3;
    width: 100%;
    @include displayFormat(flex, row wrap);
    justify-content: space-between;
    align-items: center;
    padding: 3vh 3vw;
}

.mainAbout
{
    grid-column: 1 / 13;
    grid-row: 3 / 19;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(16, 10vh);
    align-items: center;

    &__title
    {
        grid-column: 1 / 13;
        grid-row: 1 / 9;
        height: 100%;
        @include displayFormat(flex, column nowrap);
        align-items: center;
        justify-content: space-evenly;
        font-family: 'Bebas Neue', cursive;
        color: $mainColor;
        
        h1
        {
            font-size: 20vw;
        }
        
        h2
        {
            font-size: 7.5vw;
        }
            
        a
        {
            scroll-behavior: smooth;
        }
    }
    
    &__body
    {
        grid-column: 1 / 13;
        grid-row: 9 / 17;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(8, 10vh);
        align-items: center;
        justify-content: space-around;
        font-family: $mainFont;
        text-align: center;
        color: $mainColor;
        padding: 5vh 3vw 1vh 3vw;

        .mainAbout__bodyTitle
        {
            grid-column: 2 / 8;
            grid-row: 1 / 4;
            padding: 1vh 3vw;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: center;

            h2
            {
                font-size: 4.5rem;
            }

            p
            {
                font-size: 2rem;
                line-height: 1.9rem;
            }
        }
        
        .mainAbout__bodyElement
        {  
            grid-column: 1 / 9;
            grid-row: 4 / 9;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content:flex-start;

            h3
            {
                font-size: 2.7rem;
            }

            p
            {
                font-size: 1.7rem;
                line-height: 1.6rem;
            }
        } 

        .bodyElementRight
        {
            grid-column: 1 / 5;
            grid-row: 5 / 8;
        }

        .bodyElementLeft
        {
            grid-column: 5 / 9;
            grid-row: 5 / 8;
        }
        
    }
}

.fa-angle-down
{
    color: $mainColor;
    transition: transform 0.5s;
    margin-top: 3vh;
}

.animateBtn
{
    transform: rotate(180deg);
    /* Legacy vendor prefixes that you probably don't need... */
    /* Safari */
    -webkit-transform: rotate(180deg);
    /* Firefox */
    -moz-transform: rotate(180deg);
    /* IE */
    -ms-transform: rotate(180deg);
    /* Opera */
    -o-transform: rotate(180deg);
}

.footer__aboutPosition
{
    grid-column: 1 / 13;
    grid-row: 19 / 20;   
}

/*-----------------------Info only-----------------------*/

.mainInfo
{
    grid-column: 1 / 13;
    grid-row: 3 / 13;
    @include displayFormat(flex, row);
    justify-content: space-between;
    align-items: center;

    h2
    {
        font-family: $mainFont;
        font-size: 3rem;
        margin-bottom: 2.5vh;
        color: $mainColor;
        text-align: center;
    }
    
    &__socialNetwork
    {
        @include displayFormat(flex, column wrap);
        margin: 10vw 5vw 10vw 10vw;
    }
    
    &__socialNetworkIcons
    {
        @include displayFormat(flex, column wrap);
        justify-content: space-around;
    
    }
    
    &__socialNetworkIcons--row
    {
        @include displayFormat(flex, row wrap);
        justify-content: center;
    }

    &__form
    {
        @include displayFormat(flex, column wrap);
        margin: 10vw 10vw 10vw 5vw;
        align-items: center;
        justify-content: start;
    }

    &__formBody
    {
        @include displayFormat(flex, column wrap);
        font-family: $mainFont;
        color: $mainColor;
        font-size: 1rem;
        width: 30vw;
        height: 30vh;

        input
        {
            font-family: $mainFont;
            height: 3vh;
            margin: 0.7vh 0;
        }
    
        textarea
        {
            font-family: $mainFont;
            height: 10vh;
            margin: 0.7vh 0;
            resize: none;
            overflow-y: auto;
        }
    }

    &__formBody--row
    {
        @include displayFormat(flex, row wrap);
        justify-content: space-between;

        input
        {
            width: 48%;
        }
    }

}

.fab
{
    color: $mainColor;
    opacity: 0.5;
    transition: opacity 0.5s;

    &:hover
    {
        opacity: 1;
    }
}

.far
{
    color: $mainColor;
    opacity: 0.5;
    transition: opacity 0.5s;

    &:hover
    {
        opacity: 1;
    }
}

.marginIconsInfo
{
    margin: 3vh;
}

/*-----------------------Media Queries-----------------------*/

@media(min-width: 1850px)
{
    .textContainer--right
    {
        width: 100%;
        margin: 0;
        display: flex;
        justify-content: end;
    }
}

@media(max-width: 1024px)
{
    .mainAbout
    {
        &__title
        {
            h1
            {
                font-size: 22vw;
            }
            h2
            {
                font-size: 9.5vw;
            }
        }

        &__body
        {
            .mainAbout__bodyTitle
            {
                padding: 0vh 3vw;
        
                h2
                {
                    font-size: 3.5rem;
                    margin-bottom: 2vw;
                }
        
                p
                {
                    font-size: 1.5rem;
                    line-height: 1.5rem;
                }
            }
            
            .mainAbout__bodyElement
            {  
                grid-column: 1 / 9;
                grid-row: 4 / 9;
                height: 100%;
                padding: 0vh 1vw;
        
                h3
                {
                    font-size: 2.3rem;
                    margin-bottom: 2vw;
                }
        
                p
                {
                    font-size: 1.2rem;
                    line-height: 1.3rem;
                }
            } 
        
            .bodyElementRight
            {
                grid-column: 1 / 5;
                grid-row: 5 / 8;
            }
        
            .bodyElementLeft
            {
                grid-column: 5 / 9;
                grid-row: 5 / 8;
            }
        }
    }

    .header__menu
    {
        font-size: 1.4rem;
    }

    .footer
    {
        font-size: 1.4rem;
    }
}

@media(max-width: 991px)
{
    .header__menu
    {
        text-align: center;
        backdrop-filter: blur(6px);
        background-color: rgba(0, 0, 0, 0.6);
        font-size: 2rem;
    }
}

@media (max-width: 768px) 
{   
    .header
    {
        &__logo
        {
            width: 50vw;
        }

        &__menu
        {
            margin-right: 2vw;
            font-size: 1.8rem;
    
            &__menuElements
            {
                position: absolute;
                width: auto;
                top: -100vh;
                text-align: right;
                margin-right: 1vw;
                background-color: $mainColor;
                border-radius: 5px;
                border: black solid 0.5px;
    
                li
                {
                    @include displayFormat(flex, column wrap);
                    margin-top: 1vh;
                    align-content: flex-end;
                    line-height: 2vh;
    
                    a
                    {
                        color: black;
                    }
                }
            }
        
            &__button
            {
                display: inline-flex;
            }
        }
    }

    .footer
    {
        justify-content: center;

        &__elements
        {
            padding: 0;
        }
    }

    ul.show
    {
        top: 5vh;
        right: 10vw;
    }

/*-----------------------Main only-----------------------*/

    .mainWork
    {
        justify-content: space-around;

        &__article
        {
            grid-template-rows: repeat(10, 8vh);
            margin: 0.5vh 1vw;
        }

        &__titleContainer
        {
            margin-left: 1.5vw;
        }

        &__title
        { 
            writing-mode: horizontal-tb;
            font-size: 7rem;
            display: flex;
            white-space: nowrap;
            align-items: center;
            padding-bottom: 3vh;
        }

        

        &__textContainer
        {
            align-items: center;
            justify-content: center;
            margin-top: 2vw;
        }

        &__text
        {
            white-space: pre-line;
            line-height: 1rem;
            font-size: 0.9rem;
        }
    }

    .iframeContainer--left
    {
        grid-column: 1 / 9;
        grid-row: 1 / 8;
    }

    .iframeContainer--right
    {
        grid-column: 1 / 9;
        grid-row: 1 / 8; 
    }

    .titleContainer--left
    {
        grid-column: 1 / 5;
        grid-row: 8 / 11;
    }

    .titleContainer--right
    {
        grid-column: 5 / 9;
        grid-row: 8 / 11;
    }

    .align--left
    {
        text-align: center;
    }

    .align--right
    {
        text-align: center;
    }

    .textContainer--left
    {
        grid-column: 5 / 9;
        grid-row: 8 / 11;
    }

    .textContainer--right
    {
        grid-column: 1 / 5;
        grid-row: 8 / 11;
    }

    .marquee {
        overflow: hidden;
        position: relative;
        white-space: nowrap;
        color: #333;

        h2 {
            position: absolute;
            width: fit-content;
            margin: 0;
            text-align: center;
            -moz-transform: translateY(100%);
            -webkit-transform: translateY(100%);
            transform: translateY(100%);
            -moz-animation: scroll-left 10s linear infinite;
            -webkit-animation: scroll-left 10s linear infinite;
            animation: scroll-left 10s linear infinite;
        }
    }
    
    @-moz-keyframes scroll-left {
        0% {
            -moz-transform: translateX(100%);
        }
        100% {
            -moz-transform: translateX(-100%);
        }
    }
    
    @-webkit-keyframes scroll-left {
        0% {
            -webkit-transform: translateX(100%);
        }
        100% {
            -webkit-transform: translateX(-100%);
        }
    }
    
    @keyframes scroll-left {
        0% {
            -moz-transform: translateX(100%);
            -webkit-transform: translateX(100%);
            transform:translateX(100%);
        }
        100% {
            -moz-transform: translateX(-100%);
            -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
        }
    }

    .rotate 
    {
        transform: rotate(0deg);
        /* Legacy vendor prefixes that you probably don't need... */
        /* Safari */
        -webkit-transform: rotate(0deg);
        /* Firefox */
        -moz-transform: rotate(0deg);
        /* IE */
        -ms-transform: rotate(0deg);
        /* Opera */
        -o-transform: rotate(0deg);
    }

    /*-----------------------Info only-----------------------*/

    .mainInfo
    {
        flex-flow: column;
        justify-content: space-between;
        align-items: center;

        h2
        {
            font-size: 3.5rem;
        }

        &__socialNetwork
        {
            margin: 0vw 5vw 0vw 5vw;
        }
    
    
        &__form
        {
            margin: 2vw 5vw 0vw 5vw;
            
        }
    
        &__formBody
        {
            font-size: 1rem;
            width: 50%;
        }
    }

    .fab
    {
        margin: 1.5vh;
    }

    .far
    {
        margin: 1.5vh;
    }

    /*-----------------------About only-----------------------*/

    .mainAbout
    {
        &__title h2
        {
            font-size: 12.5vw;
            text-align: center;
        }
    
        &__bodyElement 
        {
            h3
            {
                font-size: 7.5vw;
                padding-bottom: 0.5vh;
            
            }
            
            p
            {
                font-size: 2rem;
            }
        }
        
    }
}

@media (max-width: 425px)
{
    
    .header
    {
        grid-row: 1 / 2;

        &__menu
        {
            margin-right: 2vw;
            font-size: 2rem;;
        }
    
        &__menuElements li
        {
            line-height: 1vh;
        }
    
        &__logo
        {
            width: 70vw;
        }
    }

    ul.show
    {
        top: 6vh;
        right: 11vw;
    }

    .mainAbout
    {
        &__title
        {

            h1
            {
                font-size: 40vw;
                text-align: center;
                line-height: 20vh;
            }
            h2
            {
                font-size: 15vw;
                text-align: center;
            }
        }

        &__body
        {
            .mainAbout__bodyTitle
            {
                padding: 0vh 3vw;
                grid-column: 1 / 9;

                h2
                {
                    font-size: 2.6rem;
                    margin-bottom: 2vw;
                }
        
                p
                {
                    font-size: 1.2rem;
                    line-height: 1.2rem;
                }
            }
            
            .mainAbout__bodyElement
            { 
                h3
                {
                    font-size: 1.9rem;
                    margin-bottom: 2vw;
                }
        
                p
                {
                    font-size: 1rem;
                    line-height: 1rem;
                }
            } 
        
            .bodyElementRight
            {
                grid-column: 1 / 9;
                grid-row: 4 / 6;
            }
        
            .bodyElementLeft
            {
                grid-column: 1 / 9;
                grid-row: 6 / 8;
            }
        }
    }

    .mainWork
    {
        &__title
        { 
            font-size: 30vw;
        }
    
        &__titleContainer
        {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }
    
        &__article
        {
            grid-template-rows: repeat(10, 8vh);
            margin: -5vh 1vw;
        }

        &__text
        {
            padding-top: 1vh;
            align-self: flex-start;
        }
    }

    .iframeContainer--left
    {
        grid-column: 1 / 9;
        grid-row: 1 / 7;
    }

    .iframeContainer--right
    {
        grid-column: 1 / 9;
        grid-row: 1 / 7; 
    }

    .titleContainer--left
    {
        grid-column: 1 / 9;
        grid-row: 6 / 8;
    }

    .titleContainer--right
    {
        grid-column: 1 / 9;
        grid-row: 6 / 8;
    }

    .textContainer--left
    {
        grid-column: 1 / 9;
        grid-row: 8 / 11;
    }
    .textContainer--right
    {
        grid-column: 1 / 9;
        grid-row: 8 / 11;
    }

    .mainInfo
    {
        grid-row: 2 / 13;
        justify-content: space-evenly;
    
        h2
        {
            font-size: 2.5rem;
            margin-bottom: 2.5vh;
        }

        &__formBody
        {
            width: 60vw;
        }
    }
}

@media(max-width: 375px)
{
    .header__menu
    {
        font-size: 1.4rem;
    }

    .footer
    {
        font-size: 1.2rem;
    }

    .toggler-icon
    {
        width: 25px;
    }
}

@media(max-width: 360px)
{
    .toggler-icon
    {
        width: 20px;
    }
}

@media(max-width: 320px)
{
    .mainAbout
    {
        &__title
        {

            h1
            {
                font-size: 40vw;
                text-align: center;
                line-height: 20vh;
            }
            h2
            {
                font-size: 15vw;
                text-align: center;
            }
        }

        &__body
        {
            .mainAbout__bodyTitle
            {
                padding: 0vh 3vw;
                grid-column: 1 / 9;

                h2
                {
                    font-size: 2.5rem;
                    margin-bottom: 2vw;
                }
        
                p
                {
                    font-size: 1.05rem;
                    line-height: 1.05rem;
                }
            }
            
            .mainAbout__bodyElement
            {  
                grid-column: 1 / 9;
                grid-row: 4 / 9;
                height: 100%;
                padding: 0vh 1vw;
        
                h3
                {
                    font-size: 1.7rem;
                    margin-bottom: 2vw;
                }
        
                p
                {
                    font-size: 0.85rem;
                    line-height: 0.85rem;
                }
            } 
        
            .bodyElementRight
            {
                grid-column: 1 / 9;
                grid-row: 4 / 6;
            }
        
            .bodyElementLeft
            {
                grid-column: 1 / 9;
                grid-row: 6 / 8;
            }
        }
    }

    .footer
    {
        font-size: 1rem;
    }

    .footer__elements li a
    {
        margin-right: 1.5vw;  
    }

    .mainWork__text
    {
        font-size: 0.85rem;
    }

    .mainInfo
    {
        &__formBody
        {
            width: 80vw;
        }
    }
}

@media(max-width: 300px)
{
    .header
    {
        &__logo
        {
            width: 75vw;
        }
    }
}